* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #1c652f;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.image-wrapper {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}
